doctype html
html
	head
		title= 'TrainCrowd'
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', href='static/favicon.ico')
		link(href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css', rel='stylesheet')
		link(rel='stylesheet', href='static/css/main.css')
		
		script(src='static/js/vendor/jquery-3.1.1.min.js')
		script(src='static/js/vendor/mapbox-2.4.0.min.js')
		script(src="/socket.io/socket.io.js")
		script(src='static/js/main.js')


	body
		div#map

		button(onclick="notify_clicked();") Send message to the server

		script.
			var socket = io(); // init connection

			/* SEND Message */
			function notify_clicked() { 
				socket.emit('user_clicked_button', {data: 'I clicked the big button'});
			}

			/* RECEIVE Message */
			socket.on('big_news', function(data) {
				console.log(data);
			});

			socket.on('all_ok', function(data) {
				console.log(data);
			});


